/* Roboto 400, 700, 500 Raleway 700
цвета #FFFFFF, #E5E5E5, #F5F4FA, #2F303A, 
текст #2196F3, #757575
фон кнопки #2196F3 */

:root { 
    --opp-color:#FFFFFF;
    --сurrent-color: #2196F3;
    --alt-color:#757575;
}

li {
    list-style-type: none;
} 

.main-page {
    color:#212121;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
}
/* line-height: 1.14; 2; 1.88 */



.header {
    background-color:var(--opp-color);
    }
.header-logo {
    color: #000;
    font-family: "Raleway";
    font-weight: 700;
}

.link{
    color:#212121;
    
} 

.link:hover, .link:focus {
    color:var(--сurrent-color);
} 




.current {
    color:var(--сurrent-color);
}
.hero{
    font-family: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color:var(--opp-color);
    background-color: #2F303A; /*временно для того, чтобы была видна строка */
}
.hero-link {
color:var(--opp-color);
background-color: var(--сurrent-color);
font-size: 16px;
line-height: 1.88;
}

.hero-text {
    text-transform:uppercase;
}
.middle-section {
    background-color: #E5E5E5;
}

.title{
  line-height: 1.17;
  font-weight: 700;
}
.text{
  line-height: 1.71;
  font-weight: 400;
  color:var(--alt-color);
}

.section-title {
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
}

.bottom-title {
    background-color: #F5F4FA;
}

.name-title {
  font-size: 16px;
  line-height: 1.19;
}

.section-text{
    color: var(--alt-color);
    font-size: 16px;
    line-height: 1.19;
}

.footer{
    background-color: #2F303A;
    font-weight: 400;
    color:var(--opp-color);
}
.footer-text {
    color:var(--opp-color); 
}

.footer-logo {
  color:var(--opp-color);
  font-family: "Raleway";
  font-weight: 700;
}


.portfolio-page {
    color:#212121;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
}

.portfolio-top{
    font-weight: 500;
}

.invisible {
    color:transparent; 
}
.portfolio:hover, .link:focus {
    color:#FFFFFF;
    background-color: var(--сurrent-color);
    } 

    .portfolio-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
    }
    
    .portfolio-text {
        font-weight: 700;
        line-height: 1.88;
        color:var(--alt-color);
        }
